/* You can add global styles to this file, and also import other style files */
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
}

/* .overlay
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    filter: blur(3px);
    z-index: 1;
} */