<!-- <h1>My Component</h1>
<input type="text" placeholder="Enter a value" id="nam">
<button (click)="fun()">Click me</button>
{{val}}

<br>
<input type="text" placeholder="Enter something" [(ngModel)]="x">
{{x}} -->


<button>change mode</button>

<div class="box">
  <input type="text" [(ngModel)]="name" placeholder="Enter the name"> <br><br>
  <input type="email" [(ngModel)]="em" placeholder="enter the email"><br><br>
  <input type="password" [(ngModel)]="pass" placeholder="enter the password">
  <button (click)="show()">Signup</button>
</div>
<div class="box">
<p>Name is {{name}}</p>
<p>Email is {{em}}</p>
<p>Password is {{pass}}</p>
</div>




