<p>home works!</p>
<button><a routerLink="/home/about">About</a></button>
<button><a routerLink="/home/contact">Contact</a></button>
<div>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

<iframe src="https://lottie.host/embed/a8fe8ee7-b61c-453c-88da-6137e4fac04f/laQqrYbLn6.lottie" [frameBorder]="0"
    background="transparent" speed="1" style="width: 300px; height: 400px;" loop autoplay></iframe>
</div>
<router-outlet></router-outlet>
